---
layout: default
title: Home
---

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Horology</span></h2>
    </div>
    <div class="row listfeaturedtag">
        
    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}
        
    </div>
</section>

<div
class="just-comments"
data-apikey="a218ddda-572f-4e54-ac7e-d578da2a1f1f">
</div>
<script async src="https://just-comments.com/w.js"></script>

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>More Ramblings</span></h2>
    </div>
    <div class="masonrygrid row listrecent">
        
    {% for post in paginator.posts %}

        {% unless post.featured == true %}

            {% include postbox.html %}

        {% endunless %}

    {% endfor %}

    </div>
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

