<form method="POST" action="https://api.staticman.net/v2/entry/patrickestark/patrickestark.github.io/master">
  <input name="options[redirect]" type="hidden" value="https://patrickestark.github.io/patrickestark/redirect-page">

  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><input name="fields[name]" type="text">Name</label>
  <label><input name="fields[email]" type="email">E-mail</label>
  <label><textarea name="fields[message]"></textarea>Message</label>

  <button type="submit">Go!</button>
</form>
